@model IEnumerable<DealTracker.Models.Deals>

@{
    ViewBag.Title = "View";
}

<h2>Car sales data</h2>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DealNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealershipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DealNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealershipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle)
                </td>
                <td>
                    CAD$@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }

    </table>
</div>
<div> <b>Most Sold Vehicle:</b> @ViewBag.MostSoldVehicle</div>
